@import "../../app.scss";


h3{
    color: $VeryDarkBlue;
    font-weight: 800 !important;
    text-align: center;
    margin-top: 50px !important;
}

.advanced p{
   color: $GrayishViolet;
   text-align: center;
}