@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

//Primary
$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(257, 27%, 26%);

//Secondary
$Red: hsl(0, 87%, 67%);

//Neutral
$Gray: hsl(0, 0%, 75%);
$GrayishViolet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);

//Font
$FontSize: 18px;
$FontFamily: Poppins, sans-serif;


$breakpoint-mobile: 376px;

.App {
    font-size: $FontSize;
    font-family: $FontFamily;
}